.container_form{
    border: 2px solid rgba(209,209,209,0.6);
    width: 70%;
    height: 240px;
    padding: 25px 20px 0 20px;
    border-radius: 15px;
}
.wrapper{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.add_buttons{
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}
